body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100%;
    overflow: hidden;
    background: url('images/70-704265_flowers-tumblr-wallpaper-pc.jpg') no-repeat top ;
    background-size: cover;
}
@font-face{
    font-family:'Solena' ;
    src: url('fonts/Solena-Regular.woff');
    font-weight: bold;
}

@font-face{
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-Light.otf');
    font-weight: bold;
}
@font-face{
    font-family:'Squad' ;
    src: url('fonts/Squad-Regular.otf');
}
.container {
    width: 45%;
    height: 60%;
    position: relative;
    top: 7%;
    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.marca{
    width: fit-content;
    font-family:Solena ;
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
}
.titulo{
    width: 120%;
    margin-top: 5%;
    margin-bottom: 10px;
    font-family: Akrobat;
    font-size: 5rem;
    line-height: 4rem;
    letter-spacing: .6rem;
    text-align: left;
    color: brown;
}
.aviso{
    width: 120%;
    margin-top: 25px;
    font-family: Squad;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: .2rem;
    text-align: left;
    color: rgb(0, 0, 0);
}
.cta{
    position: absolute;
    bottom: 20%;
    right: 7%;
}
.cta a{
    border: rgb(253, 218, 224) solid;
    font-family: Squad;
    font-size: 1rem;
    text-decoration: none;
    padding: 15px 25px;
    background-color: rgb(159, 231, 228);
    color: black;
}

.cta a:hover{
    color: aliceblue;
    background-color: blueviolet;
}